Pillow
selenium
webdriver-manager
pyperclip
appdirs
beautifulsoup4
getmac
fpdf2
pyinstaller
ttkbootstrap
darkdetect
python-dotenv
customtkinter
tkcalendar
humanize
tkinterdnd2
requests-toolbelt
openpyxl
pandas
lxml
pypdf
reportlab